<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <div ng-controller="SidenavCtrl as vm" ng-cloak>
        <md-toolbar class="md-tall md-hue-2">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div layout="row">
                    <div flex="80" style="margin-top: 10px;">
                        <div>egiftcards</div>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ui-sref="home.dashboard">
                <div class="inset">
                    <ng-md-icon icon="apps"></ng-md-icon>
                </div>
                <p> Dashboard </p>
            </md-list-item>
            <md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigateTo('home.' + item.link)">
                <div class="inset" ng-show="item.icon">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <p > {{ item.name }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Admin</md-subheader>
            <md-list-item ng-repeat="item in vm.admin" ng-click="vm.showSettingsBottom($event)" >
                <div class="inset">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <p> {{ item.title }}</p>
            </md-list-item>
        </md-list>
    </div>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak>
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="layout.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>egiftcards</h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-menu>
                <md-button aria-label="Open Settings" ng-click="layout.openMenu($mdOpenMenu, $event)">
                    <md-icon> more_vert </md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="layout.changeProfile($event)">
                            <md-icon>face</md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="layout.changePassword()">
                            <md-icon>lock</md-icon>
                            Password
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="layout.logOut()">
                            <md-icon>power_settings_new</md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Back
            </h3>
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="Search ...">
            </md-input-container>
        </div>
    </md-toolbar>
    <md-content layout="column" flex md-scroll-y style="background-color:#DCDCDC">
        <div ui-view></div>
    </md-content>
</div>
